.display {
    display: flex;
    justify-content: space-between;
    &-item {
        font-size: 2rem;
        &__number {
            color: $primary-color;
        }
    }
    margin-bottom: 4rem;
}
.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  width: 100vw;
  height: 7rem;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  &__input {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    font-size: 2rem;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    transition: border 0.3s;
    text-align: center;
  }
  &__submit {
    margin-left: 2rem;
    height: 4rem;
    width: 6rem;
    font-size: 1.5rem;
  }
}
