/**
 * Basic typography style for copy text
 */

 * {
  font-family: "Roboto", sans-serif; 
  color: #333333;
}

 h1,
 h2,
 h3 {
   margin-bottom: 1rem;
   font-weight: 500;
 }
 
 h1 {
   font-size: 5.4rem;
 
   color: $primary-color;
   margin-bottom: 5rem;
 }
 
 h2 {
   font-size: 4.2rem;
   font-weight: 900;
 }
 
 h3 {
   font-size: 2.8rem;
 }